<%- include('./partials/header') %>
    <div class="contact-container">
        <h1 class="contact-heading">CONTACT US</h1>
        <div class="contact-content">
            <div class="mail">
                <div><img class="contact-img" src="../mail.png" alt="mail"></div>
                <div><p>toorz@technology.in</p></div>
                <div><img class="qr" src="../qr.png" alt="qr"></div>
            </div>
            <div class="facebook">
                <div><img class="contact-img" src="../facebook.png" alt="facebook"></div>
                <div><p>toorz_technology</p></div>
                <div><img class="qr" src="../qr.png" alt="qr"></div>
            </div>
            <div class="twitter">
                <div><img class="contact-img" src="../twitter.png" alt="twitter"></div>
                <div><p>@toorztechnology</p></div>
                <div><img class="qr" src="../qr.png" alt="qr"></div>
            </div>
            <div class="linkedin">
                <div><img class="contact-img" src="../linkedin.png" alt="linkedin"></div>
                <div><p>toorz technology</p></div>
                <div><img class="qr" src="../qr.png" alt="qr"></div>
        </div>
    </div>
</body>
</html>