<%- include('./partials/header') %>
<main>
    <section>
        <form method="post" class="post" autocomplete="off">
            <h1 class="center">Add a New City</h1>
            <br>
            <input type="text" name="city" id="city" placeholder="City Name" required>
            <input type="text" name="state" id="state" placeholder="State" required>
            <input type="submit" value="Submit">
        </form>
    </section>
</main>
<%- include('./partials/footer') %> 