<%- include('./partials/header') %>
<main>
    <section>
        <form method="post" class="post" autocomplete="off">
            <h1 class="center">Add Your Details</h1>
            <br>
            <input type="number" name="money" id="name" placeholder="Money you can spend in Rs" required>
            <input type="number" name="time" id="date" placeholder="How much you planned your tour in days" required>
            <input type="submit" value="Submit">
        </form>
    </section>
</main>
<%- include('./partials/footer') %> 