<nav>
    <div class="">
    <img class="logo" src="../logo.png" alt="">
    <h1><a class="tourz-heading" href="/">Toorz</a></h1>
</div>
<div class="">
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/contactus">Conact Us</a></li>
        <li><a href="/admin">Admin</a></li>
    </ul>
</div>
</nav>